<div class="widget-container">
    <div class="widget green">
        <div class="icon">
            <fa-icon [icon]="faTv"></fa-icon>
        </div>
        <div class="value">

            <div class="top">
                    6.49
            </div>
            <div class="bottom">
                IMDb Score 
            </div>
        </div>
    </div>

    <div class="widget yellow">
        <div class="icon">
            <fa-icon [icon]="faChartLine"></fa-icon>
        </div>
        <div class="value">

            <div class="top">
                    13.5k
            </div>
            <div class="bottom">
                Total Shows 
            </div>
        </div>
    </div>

    <div class="widget red">
        <div class="icon">
            <fa-icon [icon]="faFilm"></fa-icon>
        </div>
        <div class="value">

            <div class="top">
                    10.4k
            </div>
            <div class="bottom">
                Movies 
            </div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">
            <fa-icon [icon]="faPlay"></fa-icon>
        </div>
        <div class="value">

            <div class="top">
                    3,4566
            </div>
            <div class="bottom">
                Series 
            </div>
        </div>
    </div>
</div>