.header{
    background-image: linear-gradient(to bottom , rgb(14 14 14), rgb(9 9 9 / 7%));
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  