.header {
    height: 60px;
    padding: 20px 50px;
    background-color: #1B1717;
    color: #fff;
    display: flex;
    justify-content: space-between;
    // box-shadow: 5px 5px 5px #939393;

    // position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // background-image: linear-gradient(to bottom,rgb(14 14 14), rgb(9 9 9 / 7%));
    z-index: 9999;

    .logo {
      font-weight: bold;
      font-size: 20px;
    }
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      .user-image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid #CE1212;
        background-color: #810000;
        margin-left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
  .w-20
  {
    margin-top: -35%;
  }